
body {background-color: grey;}


h1 {
    background-color:black;
    color: black;
    text-shadow: 1px 1px 2px black;}
    p {
    background-color: #dddddd;
    color: #666666;
    text-shadow: 2px 2px 8px #111111;}
    

    h1 {
        color:black;
        text-decoration: black;}
        p {
        color:black;}
    
        h1 {
            padding: 6px 12px 6px 12px;
            border: 1px solid #665544;
            color: gray;} p{
            background-color: grey;
    
            h1 {
                background-image: url("images/logo.gif");
                background-repeat: no-repeat;
                text-indent: -9999px;}
                .credits {
                text-indent: 20px;}


